<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTL_diemB_QLCanBo.Properties.Settings.qlycanBoConnectionString"
            connectionString="Data Source=LAPTOP-Q5R2N5N2\SQLL;Initial Catalog=qlycanBo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>